<html>
<body bgcolor="#008000">
<img>file:///home/sieg/Desktop/RubyDecal/fa16-hw2/app/assets/images/60191879e950d30a97b0b00d3073b7cd.png</img>
<p>I'm Aaron Xu and I am a sophomore from Marin County</p>

<p><b><font color="#800000">I like to cry about doing homework while doing homework</b><p>
<p><u><font color="#805060">I'm most excited about learning how to code in another language!</u> <p>
</html>